@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript/static/DancingScript-Bold.ttf');
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Regular.ttf');
}

#cal-background {
    -fx-background-color:  #0E6367;
    -fx-background-radius:  0 0 0 18;

    -fx-padding: 0 0 10px 0;
    -fx-border-insets: 0 0 10px 0;
    -fx-background-insets: 0 0 10px 0;
}

#month {
    -fx-font-family: "Dancing Script";
    -fx-font-size: 40px;
    -fx-text-fill: #F5E3E0;
}

#year {
    -fx-font-family: "Dancing Script";
    -fx-font-size: 25px;
    -fx-text-fill: #F5E3E0;
}

#cal-week-day {
    -fx-font-family: "Prompt";
    -fx-font-size: 10px;
}

#cal-day {
    -fx-font-family: "Prompt";
    -fx-font-size: 20px;
}

.toggle-button {
    -fx-background-color: #B8B8B8;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);
    -fx-text-fill: #0E131F;
}

.toggle-button:selected {
    -fx-background-color: #73ADB0;
    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);
    -fx-text-fill: #0E6367;

    -fx-padding: -10px 0 10px 0;
    -fx-border-insets: -10px 0 10px 0;
    -fx-background-insets: -10px 0 10px 0;
}

.toggle-button:selected  #cal-day{
    -fx-text-fill: #F5E3E0;
    -fx-font-size: 20px;
}

#prev-next-btn {
    -fx-background-color: transparent;
    -fx-padding: 50px 5px 50px 5px;
}


.button {
    -fx-background-color: #B8B8B8;
    -fx-font-size: 10px;
    -fx-background-radius: 7px 0 0 7px;

    -fx-padding: 10px 10px 10px 18px;
    -fx-border-insets: 5px -20px 5px 0;
    -fx-background-insets: 5px -20px 5px 10px;

    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);

    -fx-content-display: bottom;
    -fx-graphic-text-gap: 0;
    -fx-wrap-text: true;
}

.button:pressed {
    -fx-background-color: #73ADB0;
    -fx-text-fill: #F5E3E0;
}