@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript/static/DancingScript-Bold.ttf');
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt Bold';
    font-weight: bold;
    src: url('../fonts/Prompt/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'Prompt SemiBold';
    src: url('../fonts/Prompt/Prompt-SemiBold.ttf');
}

#cal-background {
    -fx-background-color:  #0E6367;
    -fx-background-radius:  0 0 0 18;

    -fx-padding: 0 0 10px 0;
    -fx-border-insets: 0 0 10px 0;
    -fx-background-insets: 0 0 10px 0;
}

#month {
    -fx-font-family: "Dancing Script";
    -fx-font-size: 40px;
    -fx-text-fill: #F5E3E0;
}

#year {
    -fx-font-family: "Dancing Script";
    -fx-font-size: 25px;
    -fx-text-fill: #F5E3E0;
}

#cal-week-day {
    -fx-font-family: "Prompt";
    -fx-font-size: 10px;
}

#cal-day {
    -fx-font-family: "Prompt";
    -fx-font-size: 20px;
}

.toggle-button {
    -fx-background-color: #B8B8B8;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);
    -fx-text-fill: #0E131F;
}

.toggle-button:selected {
    -fx-background-color: #73ADB0;
    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);
    -fx-text-fill: #0E6367;

    -fx-padding: -10px 0 10px 0;
    -fx-border-insets: -10px 0 10px 0;
    -fx-background-insets: -10px 0 10px 0;
}

.toggle-button:selected  #cal-day{
    -fx-text-fill: #F5E3E0;
    -fx-font-size: 20px;
}

#prev-next-btn {
    -fx-background-color: transparent;
    -fx-padding: 50px 5px 50px 5px;
}


.button {
    -fx-background-color: #B8B8B8;
    -fx-font-size: 10px;
    -fx-background-radius: 7px 0 0 7px;

    -fx-padding: 10px 10px 10px 18px;
    -fx-border-insets: 5px -20px 5px 0;
    -fx-background-insets: 5px -20px 5px 10px;

    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 1), 10, 0.1, -2, 2);

    -fx-content-display: bottom;
    -fx-graphic-text-gap: 0;
    -fx-wrap-text: true;
}

.button:pressed {
    -fx-background-color: #73ADB0;
    -fx-text-fill: #F5E3E0;
}

/* CUSTOM DATE PICKERS */
#custDatePicker {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: transparent;
    -fx-pref-width: 0;
    -fx-pref-column-count: 0;
}
#custDatePicker .icon {
	-mfx-color:#B8B8B8;
}

#custDatePicker .floating-text {
	-fx-background-color: transparent;
	-fx-text-fill: transparent;
}

#custDatePicker .date-picker-popup .content {
	-fx-background-color: #B8B8B8;
	-fx-border-color: transparent;
	-fx-border-radius: 10px;
}

#custDatePicker .date-picker-popup .left-arrow:disabled,
#custDatePicker .date-picker-popup .right-arrow:disabled {
	-fx-opacity: 0.8;
}

#custDatePicker .date-picker-popup .left-arrow .mfx-font-icon,
#custDatePicker .date-picker-popup .right-arrow .mfx-font-icon {
	-mfx-color:  #0E6367;
}

#custDatePicker .date-picker-popup .months-combo,
#custDatePicker .date-picker-popup .years-combo {
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-background-color: #73ADB0;
	-fx-text-fill:  #0E6367;
}

#custDatePicker .date-picker-popup .months-combo:focus-within,
#custDatePicker .date-picker-popup .years-combo:focus-within {
	-fx-text-fill: #0E6367;
}

#custDatePicker .date-picker-popup .months-combo:focus-within .caret .mfx-font-icon,
#custDatePicker .date-picker-popup .years-combo:focus-within .caret .mfx-font-icon {
	-mfx-color: #0E6367;
}

#custDatePicker .date-picker-popup .months-combo .virtual-flow,
#custDatePicker .date-picker-popup .years-combo .virtual-flow {
	-track-color: derive( #0E6367, 100%);
	-thumb-color: derive( #0E6367, 70%);
	-thumb-hover-color: derive( #0E6367, 45%);
}


#custDatePicker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
#custDatePicker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
	-fx-text-fill:  #0E6367;
}

#custDatePicker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:hover,
#custDatePicker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:hover,
#custDatePicker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected,
#custDatePicker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected {
	-fx-background-color: derive( #0E6367, 130%);
}

#custDatePicker .date-picker-popup .week-day {
	-fx-font-family: 'Prompt Bold';
	-fx-text-fill: #0E6367;
}

#custDatePicker .date-picker-popup .mfx-date-cell {
	-fx-font-family: 'Prompt';
	-fx-text-fill:#0E6367;
}

#custDatePicker .date-picker-popup .mfx-date-cell:extra {
	-fx-text-fill: rgba(255, 255, 255, 0.5);
}

#custDatePicker .date-picker-popup .mfx-date-cell:current {
	-fx-background-color: transparent;
	-fx-border-color:  #0E6367;
	-fx-border-width: 2;
	-fx-font-family: 'Prompt Bold';
}

#custDatePicker .date-picker-popup .mfx-date-cell:selected {
	-fx-background-color: #0E6367;
	-fx-font-family: 'Prompt Bold';
	-fx-text-fill: white;
}