@font-face {
    font-family: 'Prompt Bold';
    font-weight: bold;
    src: url('../fonts/Prompt/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'Prompt Regular';
    src: url('../fonts/Prompt/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt SemiBold';
    src: url('../fonts/Prompt/Prompt-SemiBold.ttf');
}

/* not found message style */
#not-found-message {
    -fx-font-size: 12px;
    -fx-font-family: "Prompt";
    -fx-text-fill: #F5E3E0;
}

/* Accordion TitlePane Style */
#tasks-accordion {
    -fx-padding: 0 0 30px 0;
}

#tasks-accordion > .titled-pane > .title {
    -fx-background-color: #0E6367;
}

.accordion > .titled-pane {
    -fx-padding: 10px;
}

#task-name {
    -fx-font-family: "Prompt";
    -fx-font-size: 15px;

    /*this line of code will resize the actual size of the task title resized as well the width of the whole titled pane. */
    -fx-pref-width: 370px;

    -fx-wrap-text: true;
    -fx-text-alignment: justify;
    -fx-text-fill: #F5E3E0;

    /* this line of code will add a small space in the edges of the task title. */
    -fx-padding: 0 10px 0 0; 
}

.accordion > .titled-pane:expanded > .title #task-name {
    -fx-font-family: "Prompt Bold";
}

#task-open-top-style {
    -fx-background-color: #09373a;
    -fx-pref-width: 15px;
    
    -fx-padding: -5px 15px -5px 0;
    -fx-border-insets: -5px 10px -5px -9px;
    -fx-background-insets: -5px 10px -5px -9px;
}

#tasks-accordion > .titled-pane:collapsed > .title #task-open-top-style {
    -fx-background-radius: 7px 0 0 7px;
}

#tasks-accordion > .titled-pane:expanded > .title #task-open-top-style {
    -fx-background-radius: 7px 0 0 0;
}

.accordion > .titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#tasks-accordion > .titled-pane:collapsed > .title {
    -fx-background-radius: 7px 7px 7px 7px;
}

#tasks-accordion > .titled-pane:expanded > .title {
    -fx-font-family: "Prompt";
    -fx-background-radius: 7px 7px 0 0;
}

/*** remove arrow */
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-background-insets: null;
    -fx-effect: null;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets:null;
    -fx-background-radius: null;
    -fx-padding: 0;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-background-insets: null;
    -fx-padding: 0;
    -fx-shape: null;
}

/*** Sub-task specific style */

#sub-tasks-name {
    -fx-font-size: 12px;
    -fx-pref-width: 340px;
    -fx-font-family: "Prompt";
    -fx-text-fill: #F5E3E0;
}

#sub-tasks-accordion > .titled-pane > .title {
    -fx-background-color: #73ADB0;
    -fx-background-radius: 7px;
    -fx-padding: 10px 10px 10px 10px;
}

/*** Details specific style */
#details-layout {
    -fx-background-color: #73ADB0;
    -fx-background-radius: 7px 7px 7px 7px;

    -fx-padding: 20px 25px 20px 25px;
    -fx-border-insets: 10px 18px 10px 18px;
    -fx-background-insets: 10px 18px 10px 18px;
}

#details-title {
    -fx-font-family: "Prompt Bold";
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-text-fill: #0E6367;
    -fx-alignment: center;
}

#description-title {
    -fx-font-family: "Prompt Bold";
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-text-fill: #0E6367;

    -fx-background-color: #73ADB0;
    -fx-background-radius: 7px 7px 0 0;

    -fx-padding: 5px 5px 0 5px;
    -fx-border-insets: 5px 0 -1px 0;
    -fx-background-insets: 5px 0 -1px 0;
}

#description-content {
    -fx-wrap-text: true;
    -fx-text-alignment: justify;

    -fx-pref-width: 350px;
    -fx-background-color: #73ADB0;
    -fx-background-radius: 0 7px 7px 7px;

    -fx-padding: 10px 10px 20px 10px;
    -fx-border-insets: 0 0 10px 0;
    -fx-background-insets: 0 0 10px 0;
}

/* #edit-task-button {
    -fx-background-color: transparent;
} */

/*** Task bottom menu */
#task-bottom-pane {
    -fx-background-color: #0E6367;
    -fx-background-radius: 0 0 7px 7px;

    -fx-padding: 10px 0 0 0;
    -fx-border-insets: 10px 0 0 0;
    -fx-background-insets: 10px -10px 0 -20px;

    -fx-alignment: center;
}

#swap-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B8B8B8;
    -fx-font-family: "Prompt SemiBold";
}

#task-open-bottom-style {
    -fx-background-color: #09373a;
    -fx-pref-width: 7px;

    -fx-background-radius: 0 0 0 7px;
    
    -fx-padding: 10px 5px -1px -15px;
    -fx-border-insets: 10px 5px -1px -15px;
    -fx-background-insets: 10px 5px -1px -15px;
}

/* Checkbox Style for tasks and sub-tasks*/
.check-box {
    -fx-background-color: transparent;    
}

.check-box .box {
    -fx-background-color:  #B8B8B8;
    -fx-background-radius: 7px;
    -fx-padding: 4px;
}

.check-box .box > .mark {
    -fx-padding: 8px;
}

.check-box:selected .mark {
    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-background-color: #094549;
}
/****/

.text-field {
    -fx-background-color: #b8b8b871;
    -fx-border-color:  #0E6367;
    /* -fx-border-radius: 5px; */
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: black;
}
