@font-face {
    font-family: 'Prompt Bold';
    font-weight: bold;
    src: url('../fonts/Prompt/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'Prompt Regular';
    src: url('../fonts/Prompt/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt SemiBold';
    src: url('../fonts/Prompt/Prompt-SemiBold.ttf');
}

#new-task-button {
    -fx-font-family: "Prompt";
    -fx-font-size: 12px;
    -fx-effect:  dropshadow(one-pass-box , rgba(184, 184, 184, 0.5), 10, 0.1, -2, 2);
    -fx-background-radius: 7px;
    -fx-background-color: #B8B8B8;
    -fx-text-fill: #0E131F;
    -fx-alignment: center;
}

/* Tab Pane style */
.tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-effect:  dropshadow(one-pass-box , rgba(9, 55, 58, 0.5), 10, 0.1, -2, 2);
    -fx-padding: 10px 0 20px 20px;
}

.tab-label {
    -fx-font-family: "Prompt";
    -fx-font-size: 12px;
}

.tab {
    -fx-background-radius: 25px;
    -fx-background-color: #B8B8B8;
    -fx-text-fill: #0E131F;
    -fx-alignment: center;

    /*** the following code is equivalent to setting margin in a component */
    -fx-padding: 5px 5px 5px 5px;
}

.tab:selected {
    -fx-background-color: #73ADB0;
    -fx-text-fill: #0E6367;
}

.tab:selected .tab-label {
    -fx-font-family: "Prompt Bold";
    -fx-text-fill: #0E6367;
}

/*** the following code will remove the blue border from each tab button when focused */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 0;
    -fx-border-color: -fx-focus-color;
}

/* Scroll Pane style */
/* the following code is to remove the default borders in scroll-pane */
.viewport, .scroll-pane {
    -fx-background-color: transparent;
}

/* Accordion TitlePane Style */
#tasks-accordion {
    /* -fx-padding: 0 0 0 -20px; */
}

#tasks-accordion > .titled-pane > .title {
    -fx-background-color: #0E6367;
    
    -fx-padding: 15px 30px 15px 25px;
    -fx-border-insets: 10px 30px 10px 30px;
    -fx-background-insets: 10px 30px 10px 30px;
}

#task-name {
    -fx-font-family: "Prompt";
    -fx-font-size: 15px;
    -fx-pref-width: 280px;
    -fx-wrap-text: true;
    -fx-text-alignment: justify;
    -fx-text-fill: #F5E3E0;
    -fx-padding: 0 0 0 10px;
}

.accordion > .titled-pane:expanded > .title #task-name {
    -fx-font-family: "Prompt Bold";
}

#task-open-top-style {
    -fx-background-color: #09373a;
    -fx-pref-width: 15px;
    
    -fx-padding: -5px 15px -5px 0;
    -fx-border-insets: -5px 0 -5px 0;
    -fx-background-insets: -5px 0 -5px 0;
}

#tasks-accordion > .titled-pane:collapsed > .title #task-open-top-style {
    -fx-background-radius: 7px 0 0 7px;
}

#tasks-accordion > .titled-pane:expanded > .title #task-open-top-style {
    -fx-background-radius: 7px 0 0 0;
}

.titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-radius: 0 0 7px 7px;
    
    -fx-padding: 0;
    -fx-border-insets: 0 30px 0 30px;
    -fx-background-insets: 0 30px 0 30px;
}

#tasks-accordion > .titled-pane:collapsed > .title {
    -fx-background-radius: 7px 7px 7px 7px;
}

#tasks-accordion > .titled-pane:expanded > .title {
    -fx-font-family: "Prompt";
    -fx-background-radius: 7px 7px 0 0;
}

/*** remove arrow */
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-background-insets: null;
    -fx-effect: null;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets:null;
    -fx-background-radius: null;
    -fx-padding: null; /* 0 7 0 0 */
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: null;
    -fx-background-insets: null;
    -fx-padding: null; /* 3 3.75 3 3.75 */
    -fx-shape: null;
}

/*** Sub-task specific style */

#sub-tasks-name {
    -fx-font-size: 12px;
    -fx-pref-width: 270px;
    -fx-font-family: "Prompt";
    -fx-text-fill: #F5E3E0;
}

#sub-tasks-accordion > .titled-pane > .title {
    -fx-background-color: #73ADB0;
    -fx-background-radius: 7px;
    -fx-padding: 10px 10px 10px 10px;
}

#sub-tasks-accordion > .titled-pane {
    -fx-padding: 10px 0 10px 0;
}

/*** Details specific style */
#details-content {
    -fx-alignment: center;
    -fx-background-color: #73ADB0;
    -fx-background-radius: 7px 7px 7px 7px;

    -fx-padding: 5px 25px 5px 25px;
    -fx-border-insets: 5px 18px 0 18px;
    -fx-background-insets: 5px 18px 0 18px;
}

#details-title {
    -fx-font-family: "Prompt Bold";
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-text-fill: #0E6367;
}

#description {
    -fx-wrap-text: true;
    -fx-pref-width: 350px;
    -fx-text-alignment: justify;

    -fx-alignment: center;
    -fx-background-color: #8F8F8F;
    -fx-background-radius: 7px 7px 7px 7px;

    -fx-padding: 30px 20px 30px 20px;
    -fx-border-insets: 20px 10px 20px 10px;
    -fx-background-insets: 20px 10px 20px 10px;
}

#edit-task-button {
    -fx-background-color: transparent;
}

/*** Task bottom menu */
#task-bottom-pane {
    -fx-background-color: #0E6367;
    -fx-background-radius: 0 0 7px 7px;

    -fx-padding: 10px 0 0 0;
    -fx-border-insets: 10px 0 0 0;
    -fx-background-insets: 10px -10px 0 -20px;

    -fx-alignment: center;
}

#swap-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B8B8B8;
    -fx-font-family: "Prompt SemiBold";
}

#task-open-bottom-style {
    -fx-background-color: #09373a;
    -fx-pref-width: 7px;

    -fx-background-radius: 0 0 0 7px;
    
    -fx-padding: 10px 8px -1px -15px;
    -fx-border-insets: 10px 8px -1px -15px;
    -fx-background-insets: 10px 8px -1px -15px;
}

/* Checkbox Style for tasks and sub-tasks*/
.check-box {
    -fx-background-color: transparent;
    
}

.check-box .box {
    -fx-background-color:  #B8B8B8;
    -fx-background-radius: 7px;
    -fx-padding: 4px;
}

.check-box .box > .mark {
    -fx-padding: 8px;
}

.check-box:selected .mark {
    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-background-color: #094549;
}
